@import '../style/themes.scss';

.product-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 2px $primary_color;
  padding: 10px;
  width: 90%;

  .product-card-title {
    font-size: 24pt;
    font-weight: 700;
  }

  .image-wrapper {

    img {
      width: 100%;
    }
  }

  .price {
    font-size: 24pt;
    margin: 0;
  }
}